<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwforever.business.mapper.ProjectMapper">
    <resultMap id="proRM" type="com.hwforever.business.model.Project">
        <id column="pro.id" property="id"/>
        <result column="pro.code" property="code"/>
        <result column="pro.name" property="name"/>
        <result column="pro.ename" property="ename"/>
        <result column="pro.description" property="description"/>
        <collection property="elements" resultMap="com.hwforever.business.mapper.ElementMapper.eleRM"></collection>
    </resultMap>
    
    <sql id="allProjectColumn">
        pro.code `pro.code`,
        pro.name `pro.name`,
        pro.ename `pro.ename`,
        pro.description `pro.description`
    </sql>

    <select id="selectProjectWithElement" resultMap="proRM">
        SELECT
        pro.id `pro.id`,
        <include refid="allProjectColumn"/>,
        ele.id `ele.id`,
        <include refid="com.hwforever.business.mapper.ElementMapper.allElementColumn"></include>
        FROM project pro
        INNER JOIN pro_ele_rel rel ON rel.pro_id = pro.id
        INNER JOIN element ele ON ele.id = rel.ele_id
    </select>

    <select id="selectProjectAll" resultMap="proRM">
        SELECT
        pro.id `pro.id`,
        <include refid="allProjectColumn"/>
        FROM project pro WHERE 1=1
    </select>

    <select id="selectProject" parameterType="com.hwforever.business.model.Project" resultMap="proRM">
        SELECT
        pro.id `pro.id`,
        <include refid="allProjectColumn"/>
        FROM project pro WHERE 1=1
        <if test="code != null">
            AND code = #{code}
        </if>
        <if test="name != null">
            AND name = #{name}
        </if>
        <if test="ename != null">
            AND ename = #{ename}
        </if>
        <if test="description != null">
            AND description = #{description}
        </if>
    </select>

    <insert id="insertProject" parameterType="com.hwforever.business.model.Project" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO project(
        `code`,
        `name`,
        `ename`,
        `description`
        )
        VALUES(
        #{code},
        #{name},
        #{ename},
        #{description}
        )
    </insert>

    <update id="updateProject" parameterType="com.hwforever.business.model.Project">
        UPDATE project SET
        `name` = #{name},
        `ename` = #{ename},
        `description` = #{description}
        WHERE code = #{code}
    </update>

    <delete id="deleteProject" parameterType="com.hwforever.business.model.Project">
        DELETE FROM project WHERE code = #{code}
    </delete>
</mapper>