<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwforever.business.mapper.ModuleMapper">
    <resultMap id="moduRM" type="com.hwforever.business.model.Module">
        <id column="modu.id" property="id"/>
        <result column="modu.code" property="code"/>
        <result column="modu.name" property="name"/>
        <result column="modu.pro_id" property="pro_id"/>
        <result column="modu.pro_name" property="pro_name"/>
        <result column="modu.ele_id" property="ele_id"/>
        <result column="modu.ele_name" property="ele_name"/>
    </resultMap>
    
    <sql id="allModuleColumn">
        modu.code `modu.code`,
        modu.name `modu.name`,
        modu.pro_id `modu.pro_id`,
        modu.ele_id `modu.ele_id`
    </sql>
    
    <select id="selectModuleAll" resultMap="moduRM">
        SELECT
        modu.id `modu.id`,
        <include refid="allModuleColumn"/>,
        pro.name `modu.pro_name`,
        ele.name `modu.ele_name`
        FROM module modu
        LEFT JOIN project pro ON modu.pro_id = pro.id
        LEFT JOIN element ele ON modu.ele_id = ele.id
    </select>

    <select id="selectModuleOfElementId" parameterType="java.lang.Integer" resultMap="moduRM">
        SELECT
        modu.id `modu.id`,
        <include refid="allModuleColumn"/>
        FROM module modu
        WHERE modu.ele_id = #{1}
    </select>

    <select id="selectModule" parameterType="com.hwforever.business.model.Module" resultMap="moduRM">
        SELECT
        modu.id `modu.id`,
        <include refid="allModuleColumn"/>,
        pro.name `modu.pro_name`,
        ele.name `modu.ele_name`
        FROM module modu
        INNER JOIN project pro ON modu.pro_id = pro.id
        INNER JOIN element ele ON modu.ele_id = ele.id
        <if test="code != null">
            AND modu.code = #{code}
        </if>
        <if test="name != null">
            AND modu.name = #{name}
        </if>
        <if test="pro_name != null">
            AND pro.name = #{pro_name}
        </if>
        <if test="ele_name != null">
            AND ele.name = #{ele_name}
        </if>
    </select>

    <insert id="insertModule" parameterType="com.hwforever.business.model.Module" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO module(
        `code`,
        `name`,
        `pro_id`,
        `ele_id`
        )
        VALUES (
        #{code},
        #{name},
        #{pro_id},
        #{ele_id}
        )
    </insert>

    <update id="updateModule" parameterType="com.hwforever.business.model.Module">
        UPDATE module SET
        `name` = #{name},
        `pro_id` = #{pro_id},
        `ele_id` = #{ele_id}
        WHERE code = #{code}
    </update>
</mapper>