<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwforever.business.mapper.ResultMapper">
    <resultMap id="resRM" type="com.hwforever.business.model.Result">
        <id column="res.id" property="id"/>
        <result column="res.serial_number" property="serial_number"/>
        <result column="res.case_id" property="case_id"/>
        <result column="res.user_id" property="user_id"/>
        <result column="res.type" property="type"/>
        <result column="res.execute_date" property="execute_date"/>
        <result column="res.execute_time" property="execute_time"/>
        <result column="res.failed_reason" property="failed_reason"/>
        <result column="res.response_code" property="response_code"/>
        <result column="res.request_message" property="request_message"/>
        <result column="case.code" property="case_code"/>
        <result column="case.name" property="case_name"/>
        <result column="u.username" property="user_name"/>
    </resultMap>
    <sql id="allResultColumn">
        res.serial_number `res.serial_number`,
        res.case_id `res.case_id`,
        res.user_id `res.user_id`,
        res.type `res.type`,
        res.execute_date `res.execute_date`,
        res.execute_time `res.execute_time`,
        res.failed_reason `res.failed_reason`,
        res.response_code `res.response_code`,
        res.request_message `res.request_message`
    </sql>

	<insert id="insertResult" parameterType="com.hwforever.business.model.Result" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		INSERT INTO `result`
            (
             `serial_number`,
             `case_id`,
             `user_id`,
             `type`,
             `execute_date`,
             `execute_time`,
             `failed_reason`,
             `response_code`,
             `request_message`)
		VALUES (
		        #{serial_number},
		        #{case_id},
		        #{user_id},
		        #{type},
		        NOW(),
		        #{execute_time},
		        #{failed_reason},
		        #{response_code},
		        #{request_message});
	</insert>
    <select id="selectResultAll" resultMap="resRM">
        SELECT
        res.id `res.id`,
        <include refid="allResultColumn"/>,
        `case`.code `case.code`,
        `case`.name `case.name`,
        u.username `u.username`
        FROM result res
        INNER JOIN `user` u ON res.user_id = u.id
        INNER JOIN `case` ON res.case_id = `case`.id
    </select>
    <select id="selectResultLike" parameterType="com.hwforever.business.model.Result" resultMap="resRM">
        SELECT
        res.id `res.id`,
        <include refid="allResultColumn"/>,
        `case`.code `case.code`,
        `case`.name `case.name`,
        u.username `u.username`
        FROM result res
        INNER JOIN `user` u ON res.user_id = u.id
        INNER JOIN `case` ON res.case_id = `case`.id
        <if test="user_name != null and user_name != '' ">
            AND u.username like CONCAT(CONCAT('%', #{user_name}), '%')
        </if>
        <if test="case_code != null and case_code !='' ">
            AND `case`.code like CONCAT(CONCAT('%', #{case_code}), '%')
        </if>
        <if test="case_name != null and case_name !='' ">
            AND `case`.name like CONCAT(CONCAT('%', #{case_name}), '%')
        </if>
        <if test="serial_number != null and serial_number !='' ">
            AND res.serial_number like CONCAT(CONCAT('%', #{serial_number}), '%')
        </if>
    </select>
</mapper>